<!DOCTYPE html>
<html lang="en-US" dir="ltr">
<head>
    <title>Member image</title>

</head>

<body>
    <h2>Member image</h2>
     <form action="" method = "POST" enctype="multipart/form-data" >
  <div class="form-group row">
 <label for="photo">photo</label>
                    <input type="file" name="photo" id="photo"/>


        <button type="btnAdd" class="btn btn-primary">Submit</button>
        <a href="/" class="btn btn-primary">Cancel</a>

      </div>
          </form>
</body>