<!DOCTYPE html>
<html lang="en-US" dir="ltr">
<head>
    <title>vaccine Details</title>

</head>

<body>
    <h2>vaccine Details</h2>

    <form action="" method = "POST">
        <div class="form-group row">
            <label for="dose">dose</label>
                <input type="number" value={{dose}} readonly="readonly" name="dose" id="dose">
        </div>
        <div class="form-group row">
            <label for="doseDate">dose Date</label>
            <input type="date" class="form-control" name="doseDate" id="doseDate"
            min={{min_date}}>

            </div>
<div class="form-group row">
     <label for="vaccineId">Choose a vaccine:</label>
<select name="vaccineId" id="vaccineId">
{% for vaccine in vaccines %}
    <option value={{vaccine[0]}}>{{ vaccine[1] }}</option>
    {% endfor %}

</select>
    </div>
        <div class="form-group row">
            <label for="MemberId">Member id</label>
            <input type="number" value={{id}} readonly="readonly" name="MemberId" id="MemberId">
        </div>
        <button type="btnAdd" class="btn btn-primary">Submit</button>
        <a href="/" class="btn btn-primary">Cancel</a>
      </form>
</body>