
<html>
<head>
    <h1>
        Clinic Members <br>
    </h1>
</head>
 <body>

<table border=1 id="table" class="table">
<tbody>
<title>
        Clinic Members
    </title>
        <tr>
            <th scope="col">Id</th>
        <th scope="col">Name</th>
            <th scope="col">Edit</th>
        <th scope="col">Delete</th>
        </tr>


        {% for member in members %}
            <tr>
                <td><a href='members/{{ member.MemberId }}'>{{ member.MemberId }}</a></td>
                <td>{{ member.MemberName }}</td>
                <td><a href='updatemember/{{ member.MemberId }}'>Edit</a></td>
                <td><a href='deletemember/{{ member.MemberId }}'>Delete</a></td>

            </tr>
        {% endfor %}
</tbody>
</table>
<td><a href='/addmember'>Add member</a></td>
<h1>
        total members unvaccinated
    </h1>
 <td><br>{{total}} members <br></td>

 <h1>
        total sick per day last month <br>
    </h1>
<td><img src="data:image/png;base64, {{encoded}}" alt="red dot" width="700" height="500"  />
</td>
</body>
</html>
